* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.circle {
    margin-top: 30px;
    margin-left: 20px;
    width: 150px;
    height: 150px;
    background-color: cornflowerblue;
    border-radius: 50%;
    animation: mover 1 alternate 4s 1s;
    /* animation-name: mover;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-delay: 2s; */
    /* 0 - 100 | 0 - 100 - 0 | 100 - 0 - 100*/

}

@keyframes mover {
    0% {
        transform: translateX(0);
        background-color: #000;
    }

    20% {
        transform: translateY(100%);
        background-color: salmon;
    }

    40% {
        transform: translateY(100%) translateX(100%);
        background-color: crimson;
    }

    60% {
        transform: translateX(100%) translateY(0);
        background-color: yellow;
    }

    100% {
        transform: translateY(100%) translateX(100%);
        background-color: crimson;
    }
}