* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenerdor Padres se le conoce como GRID Container */
.wrapper{

}

/* A los Hijos de le conoce como GRID items */
.item{
    background: deeppink;
    color: white;
    width: 100px;
    height: 100px;
}