body {
    margin: 0;
    background-color: #ddd;
}

.contenedor {
    display: flex;
    justify-content: center;
}

.caja {
    margin: 150px 15px;
    width: 150px;
    height: 150px;
    background-color: crimson;
    color: #FFF;
    font-size: 40px;
    text-align: center;
    line-height: 150px;
    transition: all 1s;
}

.caja:nth-child(1) {
    
}

.caja:nth-child(1):hover {

}



/* matrix: recibe 6 parametros
a, d = scale
b, c = skew
e, f = translate */
